<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn">

  <targets>
    <target xsi:type="ColoredConsole" name="console"
            layout="${longdate}|${uppercase:${level}}|corr=${scopeproperty:CorrelationId}|${logger}|${message} ${exception:format=tostring}" >
      <highlight-row condition="level == LogLevel.Trace" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="White" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Magenta" backgroundColor="White" />
    </target>

    <target xsi:type="File" name="file"
            fileName="logs/backend-${shortdate}.log"
          layout="${longdate}|${uppercase:${level}}|corr=${scopeproperty:CorrelationId}|${logger}|${message}|${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="Microsoft.*" minlevel="Trace" final="true" />
    <logger name="*" minlevel="Trace" writeTo="console,file" />
  </rules>
</nlog>
